<div class="dashboard-container">
  <div class="section">
    <h3>Landing Cards</h3>
    <% if @landing_cards.present? %>
      <ul>
        <% @landing_cards.each do |landing_card| %>
          <li>
            <%= landing_card.title %>
            <%= link_to 'Edit', edit_landing_card_path(landing_card), class: 'edit-link' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No landing cards available.</p>
    <% end %>
  </div>

  <div class="section">
    <h3>Articles</h3>
    <%= link_to 'New Article', new_article_path %>
    <% if @articles.present? %>
      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= article.title %>
            <%= link_to 'Edit', edit_article_path(article), class: 'edit-link' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No articles available.</p>
    <% end %>
  </div>

  <div class="section">
    <h3>Rentals</h3>
    <h5>When adding a dumpster rental, use the following letter in the title field based on the necessary emoji.</h5>
    <h6>A 🟩</h6><h6>B 🟦</h6><h6>C 🟥</h6><h6>D 🟧</h6>
    <%= link_to 'New Rental', new_rental_path %>
    <% if @rentals.present? %>
      <ul>
        <% @rentals.each do |rental| %>
          <li>
            <%= rental.title %>
            <%= link_to 'Edit', edit_rental_path(rental), class: 'edit-link' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No rentals available.</p>
    <% end %>
  </div>

  <div class="section">
    <h3>Videos</h3>
    <%= link_to 'New Video', new_video_path %>

    <% if @videos.present? %>
      <ul>
        <% @videos.each do |video| %>
          <li>
            <%= video.title %>
            <%= link_to 'Edit', edit_video_path(video), class: 'edit-link' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No videos available.</p>
    <% end %>
  </div>
</div>