<div id="<%= dom_id(article) %>" class="article">
  <h1><%= article.title %></h1>

  <div class="article-description">
    <p><%= article.description %></p>
  </div>

  <div class="article-body">
    <p><%= article.body %></p>
  </div>

  <% if article.image.present? %>
    <div class="article-image">
      <%= image_tag article.image, alt: article.title %>
    </div>
  <% end %>
</div>

