<div id="nav">
    <div>
        <%= image_tag("logo") %>
    </div>
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li>|</li>
        <li><%= link_to "Pricing", "pricing" %></li>
        <li>|</li>
        <li><%= link_to "News & Events", "events" %></li>
        <li>|</li>
        <li><%= link_to "Schedule", "schedule" %></li>
    </ul>
</div>