<div id="pricing">
    <% @pricing_cards.each do |pricing_card| %>
        <ul>
        <li>
            <%= image_tag("#{pricing_card.pricing_card_image_url}.png") %>
        </li>
        <li>
            <h4><%= pricing_card.pricing_card_title %></h4>
        </li>
        <li>
            <%= pricing_card.pricing_card_description %>
        </li>
        <li>
            <p>$<%= pricing_card.pricing_card_total_cost %>*</p>
        </li>
        </ul>
    <% end %>
    <div id="disclaimer1">
    <% @site_vars.each do |site_var| %>
        <p><%= site_var.site_var_disclaimer1 %></p>
    <% end %>
    </div>
</div>