<div id="<%= dom_id rental %>">
  <p>
    <strong>Title:</strong>
    <%= rental.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= rental.address %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= rental.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= rental.end_time %>
  </p>

</div>
