<%= render "shared/nestednav" %>

<div id="heading3">
    <% @site_vars.each do |site_var| %>
        <h3><%= site_var.site_var_heading3 %></h3>
    <% end %>
</div>


<div id="schedule">
    <%= month_calendar(events: @rented_dumpsters) do |date, rented_dumpsters| %>
        <%= date.day %>
    
        <% rented_dumpsters.each do |rented_dumpster| %>
            <div>
                <%= rented_dumpster.rented_dumpster_name %>
                <%= rented_dumpster.rented_dumpster_address %>
            </div>
        <% end %>
      <% end %>
</div>

<%= link_to "New rented dumpster", new_rented_dumpster_path %>

<%= render "shared/pricing" %>