<%= render "shared/nestednav" %>



<div id="schedule">
    <%= month_calendar(events: @rented_dumpsters) do |date, rented_dumpsters| %>
        <%= date.day %>
    
        <% rented_dumpsters.each do |rented_dumpster| %>
            <div>
                <%= rented_dumpster.rented_dumpster_name %>
                <%= rented_dumpster.rented_dumpster_address %>
            </div>
        <% end %>
      <% end %>
</div>

<!--<%= link_to "Rent a Dumpster!", new_rented_dumpster_path %>-->

<%= render "shared/pricing" %>