<div id="<%= dom_id rented_dumpster %>">
  <p>
    <strong>Rented dumpster name:</strong>
    <%= rented_dumpster.rented_dumpster_name %>
  </p>

  <p>
    <strong>Rented dumpster address:</strong>
    <%= rented_dumpster.rented_dumpster_address %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= rented_dumpster.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= rented_dumpster.end_time %>
  </p>

</div>
