<div id="<%= dom_id pricing_card %>">
  <p>
    <strong>Pricing card title:</strong>
    <%= pricing_card.pricing_card_title %>
  </p>

  <p>
    <strong>Pricing card description:</strong>
    <%= pricing_card.pricing_card_description %>
  </p>

  <p>
    <strong>Pricing card image url:</strong>
    <%= pricing_card.pricing_card_image_url %>
  </p>

  <p>
    <strong>Pricing card total cost:</strong>
    <%= pricing_card.pricing_card_total_cost %>
  </p>

</div>
