<nav>
  <div class="logo">
    <%= link_to image_tag("logo.png", alt: "Beard Bros Dumpsters"), root_path %>
  </div>
  
  <ul class="nav-links">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'Rentals', rentals_path %></li>

    <% if user_signed_in? %>
      <li class="user-subnav">
        <%= link_to 'Dashboard', dashboard_path if current_user.approved? %>
      </li>
      <li>
        <li><%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-button' %></li>
      </li>
    <% end %>
  </ul>
</nav>